<!DOCTYPE html>
<html lang="en">

<head>
    {{>Headerlink}}
</head>

<body>
    <!--Header start-->
    {{>Navbar}}
    <!--Header End-->
    <!--Main start-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left side div -->
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure>
                            <img id="about-img" src="./Images/waterfall.jpg" alt="chandra" class="img-fluid" title="chandra technical">
                        </figure>
                    </div>
                    <!-- Right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <p>Welcome to Weather App</p>
                        <h1>I Am A<span class="span-clr"> Mern Stack Devloper</span> And A Freelancer</h1>
                        <a href="https://github.com/Chandramaulikumar" target="_chandra"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Main End-->
    <!--Footer Start-->
    {{>Footer}}
    <!--Footer End-->
</body>

</html>